<form class="pull-right" style="margin-left: 10px">
    <span class="pull-left">
    <input type="text" name="description" placeholder="search note" class="form-control">
  </span>
    <button type="submit" class="btn">Search note</button>   
    <a href="/" class="btn btn-primary">Logout</a>  
</form>
<br>
<hr>
    <br>
 
  


<ul class="list-group">
  <% @items.each do |item| %>
    <li id="#" class="list-group-item">
    
      <a href="/edit/<%= item[:id] %>" class="list-group-item list-group-item-warning"><strong><%= item[:title]%>:</strong> <%= item[:content] %>   </a>
      <%= item[:created] %>
    </span>
    <span class="pull-right">
      <a href="/delete/<%= item[:id] %>" class="">Delete</a>
    </span>
    </li>
  <% end %>
</ul>

<a href="/new" class="btn btn-success">Add new note</a>
